/* line 114, icons/*.png */
.icons-sprite, .icons-correct, .icons-history, .icons-home, .icons-htmlicon, .icons-htmltag, .icons-login, .icons-next, .icons-prev, .icons-quiz, .icons-wrong, .header .nav #home, .header .nav #history, .header .nav #quiz, .header .nav #htmltags, .header .usericon {
  background: url('../images/icons-sefbc48d4f6.png') no-repeat;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-correct {
  background-position: 0 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-history {
  background-position: -64px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: -96px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-htmlicon {
  background-position: -128px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-htmltag {
  background-position: -150px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login {
  background-position: -182px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next {
  background-position: -214px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-prev {
  background-position: -278px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-quiz {
  background-position: -342px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-wrong {
  background-position: -374px 0;
}

/* line 114, icons/*.png */
.icons-sprite, .icons-correct, .icons-history, .icons-home, .icons-htmlicon, .icons-htmltag, .icons-login, .icons-next, .icons-prev, .icons-quiz, .icons-wrong, .header .nav #home, .header .nav #history, .header .nav #quiz, .header .nav #htmltags, .header .usericon {
  background: url('../images/icons-sefbc48d4f6.png') no-repeat;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-correct {
  background-position: 0 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-history {
  background-position: -64px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: -96px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-htmlicon {
  background-position: -128px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-htmltag {
  background-position: -150px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login {
  background-position: -182px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next {
  background-position: -214px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-prev {
  background-position: -278px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-quiz {
  background-position: -342px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-wrong {
  background-position: -374px 0;
}

/* line 5, ../sass/app.scss */
body {
  background-color: deepskyblue;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
}

/* line 11, ../sass/app.scss */
.container {
  width: 100%;
}
/* line 13, ../sass/app.scss */
.container .con {
  width: 1000px;
  margin: 0px auto;
}

/* line 19, ../sass/app.scss */
.clearfix {
  clear: both;
}

/* line 23, ../sass/app.scss */
.header {
  width: 100%;
  height: 45px;
  background-color: black;
  margin-bottom: 10px;
}
/* line 29, ../sass/app.scss */
.header .nav {
  width: 320px;
  top: 5px;
  margin: auto;
  position: relative;
}
/* line 35, ../sass/app.scss */
.header .nav #home {
  background-position: -96px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .25;
}
/* line 45, ../sass/app.scss */
.header .nav #history {
  background-position: -64px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .25;
}
/* line 55, ../sass/app.scss */
.header .nav #quiz {
  background-position: -342px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .25;
}
/* line 65, ../sass/app.scss */
.header .nav #htmltags {
  background-position: -150px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .25;
}
/* line 76, ../sass/app.scss */
.header .usericon {
  background-position: -182px 0;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 50px;
  top: 5px;
}

/* line 86, ../sass/app.scss */
.logo {
  width: 312px;
  margin: 30px auto;
}
/* line 90, ../sass/app.scss */
.logo #logo {
  width: 312px;
  height: 312px;
}

/* line 96, ../sass/app.scss */
.content {
  width: 500px;
  height: 150px;
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
/* line 105, ../sass/app.scss */
.content span {
  color: #ff7f00;
}

/* line 110, ../sass/app.scss */
.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}
/* line 116, ../sass/app.scss */
.footer .f-con {
  width: 500px;
  margin: auto;
  font-size: 15px;
  top: 15px;
  position: relative;
}
/* line 123, ../sass/app.scss */
.footer .f-con span {
  color: #ff7f00;
}
/* line 127, ../sass/app.scss */
.footer .f-con a:link {
  text-decoration: none;
  color: #ff7f00;
}
/* line 133, ../sass/app.scss */
.footer .f-con a:visited {
  text-decoration: none;
  color: #ff7f00;
}
